# All files in the repo are owned by @nikhil-bhole
* @nikhil-bhole

# Design pattern Java files are owned by @java-expert
design-patterns/java/** @java-expert

# Readme file is owned by both @nikhil-bhole and @doc-maintainer
README.md @nikhil-bhole @doc-maintainer
